.App {
  text-align: center;
}

.result {
  color: var(--orange);
  font-style: italic;
  font-size: 1rem;
  padding: 0.5rem;
}

.checker-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checker-form-horizontal {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.checker-buttons {
  flex-direction: row;
}

.container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 1.5rem;
}

select {
  width: 18rem;
  height: 2rem;
  border-radius: 0.5rem;
  border: 2px var(--deep-blue) solid;
  background-color: var(--snow-white);
  color: var(--deep-blue);
  font-size: 1rem;
}

label {
  color: var(--orange);
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 0.4rem;
}

button {
  border-radius: 0.25rem;
  border: 2px var(--deep-blue) solid;
  background-color: var(--ice-blue);
  color: var(--deep-blue);
  width: 6rem;
  height: 1.5rem;
  font-weight: bold;
  margin: 1rem;
}

button:hover {
  background-color: var(--teal);
}

::placeholder {
  color: darkgrey;
  opacity: 1; /* This is specifically for firefox */
  font-size: 1rem;
}

::-ms-input-placeholder {
  color: darkgrey;
  font-size: 1rem;
}

h1 {
  font-size: 2.5rem;
  color: var(--orange);
  -webkit-text-stroke: 2px var(--burnt-orange);
  padding: 0.25rem;
}

h2, a {
  color: var(--dark-teal);
  padding: 0.25rem;
}